* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  background: #222;
}

#game {
  background-color: white;
  background-image: url("bgtest.png");
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -320px;
  margin-top: -180px;
}
